@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

body {
  font-family: "PT Sans", "MS Sans Serif",  sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}


/* Pages */

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}

/* Hero */

.hero-welcome {
  background-color: #82B3D3;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.preview-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.preview-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* Advantages */

.benefits-item {
  list-style-type: none;
}

.benefits-title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.benefits-text {
  text-align: center;
  color: #333333;
}

.benefits-picture {
  background-color: #82B3D3;
  color: #ffffff;
}

.benefits-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Recommendations */

.recommendations-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.recommendations-text {
  text-align: center;
  color: #333333;
}

.recommendations-item {
  list-style-type: none;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.recommendations-item:nth-child(2n) {
  background-color: #ffffff;
}

/* Search */

.find-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.find-hotel-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.find-hotel-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

/* Subscribe */

.subscribe {
  background-image: url("../images/background-blur.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

/* Footer */

.footer-social-item {
  list-style-type: none;
}

.contact-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

/* hotels.html */

.page-inner-header {
  background-image: url("../images/catalog-background-blur.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.page-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.filter-item {
  list-style-type: none;
}

.filter-control {
  line-height: 23px;
  color: #ffffff;
}

.filter-button-agree {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.filter-button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: none;
}

.hotel-found-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.card-button {
  border: 2px solid #E5E5E5;
}

.card-button-current {
  border: 2px solid #000000;
}

/* Catalog */

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-type {
  color: #333333;
}

.hotel-card-price {
  color: #333333;
}

.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
}

.button-more {
  background-color: #756157;
}

.button-favorites {
  background-color: #82B3D3;
}

.hotel-rating-points {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-item {
  list-style-type: none;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}

/* Subscribe */

.subscribe-inner {
  background-image: none;
}

.subscribe-title-inner {
  color: #000;
}

.subscribe-text-inner {
  color: inherit;
}
